//------------------------ attendeeParticipateEvent Data Table -----------------------//

    if (jQuery().dataTable) {

        var postEventID = "event-0001";



        var AttendeeParticipateEventDataTableID = $('#AttendeeParticipateEventDataTableID').DataTable({
            "processing": true,
            // "serverSide": true,
            //scrollY: '40vh',
            //scrollCollapse: true,

            "ajax": {
                "url": "../../../../api/eventManager/listAttendeeByEventID/",
                "type": "POST",
                "dataType": "json",
                "contentType": "application/json",
                "data":function(d){
                    console.log("postEventID : " + postEventID);
                    return JSON.stringify({"eventID" : postEventID});
                },
                "dataSrc": "rows"
                // "success": function(data) {
                //     console.log(data);
                // },
                // "error": function(jqXHR, textStatus, errorThrown){
                //     alert('init error: ' + textStatus);
                // }
            },
            "columns": [
                { "data": "id"},
                { "data": "user_name"}
            ],
            "aLengthMenu": [
                [5, 10, 15, 25, 50, 100, -1],
                [5, 10, 15, 25, 50, 100, "All"]
            ],
            "iDisplayLength": 5,
            "oLanguage": {
                "sLengthMenu": "_MENU_ Records per page",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": "0 - 0 of 0",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumnDefs": [{
                                'bSortable': true,
                                "bAutoWidth": true,
                                'aTargets': [0]
                            },{
                                'bSortable': true,
                                "bAutoWidth": true,
                                'aTargets': [1]
                            },{
                                "render": function ( data, type, row ) {
                                    // console.log(data);
                                    // console.log(type);
                                    // console.log(row);

                                    return row.user_id;
                                },
                                "targets": 0
                            },{
                                "render": function ( data, type, row ) {
                                    return row.user_name;
                                },
                                "targets": 1
                            },{
                                "render": function ( data, type, row ) {
                                    return row.user_position;
                                },
                                "targets": 2
                            },{
                                "render": function ( data, type, row ) {
                                    return row.user_division;
                                },
                                "targets": 3
                            },{
                                "render": function ( data, type, row ) {

                                    var tmpAttentionStatusRender = "";

                                    if (row.attention_status == "0") {
                                        tmpAttentionStatusRender = '<span class="label label-important"><i class="fa fa-minus-circle"></i></span>';
                                    } else {
                                        tmpAttentionStatusRender = '<span class="label label-success"><i class="fa fa-check-circle"></i></span>';
                                    }

                                    return tmpAttentionStatusRender;
                                },
                                "targets": 4
                            },{ 
                                "sClass": "text-center", "aTargets": [4] 
                            }],
            "order" : [] //disable default sorting, eg sorting on 1st column 
        });
    }



            // $.ajax({
            //     url: "../../../../api/eventManager/listAttendeeByEventID/",
            //     type: 'POST',
            //     contentType: 'application/json',
            //     dataType: 'json',
            //     data: JSON.stringify(attendeeParticipateEventDataTable_param) , 
            //     cache: false,
            //     async: false,
            //     success: function(data) {
            //         console.log(data);
            //     },
            //     error: function(jqXHR, textStatus, errorThrown){
            //         alert('init error: ' + textStatus);
            //     }
            // });


// console.log("AttendeeParticipateEventDataTableID : " + AttendeeParticipateEventDataTableID);
// console.log(AttendeeParticipateEventDataTableID);

