 
<tr class="table-flag-blue">
    <td><input type="checkbox" /></td>
    <td>00000001</td>
    <td>นาง ฉันฤธธิสา นิลาสภัย</td>
    <td>ผู้อำนวยการฝ่ายขายและผู้เช่าสัมพันธ์</td>
    <td class="text-center">
    	แผนกทรัพยากรบุคคล<br/>
        <i>บริษัท เอ็ม บี เค จำกัด ( มหาชน )</i>
    </td>
</tr>