<div class="tab-pane" id="tab2-4">
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">ชื่อกิจกรรม</label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text" id="lblEventName">
                สัปดาห์วิชาการ บริษัท เอ็ม บี เค จำกัด ( มหาชน ) 2558
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">สถานที่จัดงาน</label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text" id="lblLocationName">บริษัท เอ็ม บี เค จำกัด ( มหาชน )</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">วันเริ่มต้น</label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text" id="lblEventBeginDate">2015-12-12</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">วันสิ้นสุด</label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text" id="lblEventEndDate">2015-12-13</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">จำนวนผู้เข้าร่วม</label>
        <div class="col-sm-5 col-lg-3 controls">
            <span class="text" id="lblCountAttendee">120 คน</span>
        </div>
    </div>
</div>


