 <div class="tab-pane" id="tab2-3">

    <div class="box-content">
        <div class="btn-toolbar pull-right clearfix">
            <div class="btn-group">
                <a class="btn btn-circle show-tooltip" title="Add new record" href="#"><i class="fa fa-plus"></i></a>
                <a class="btn btn-circle show-tooltip" title="Edit selected" href="#"><i class="fa fa-edit"></i></a>
                <a class="btn btn-circle show-tooltip" title="Delete selected" href="#"><i class="fa fa-trash-o"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn btn-circle show-tooltip" title="Print" href="#"><i class="fa fa-print"></i></a>
                <a class="btn btn-circle show-tooltip" title="Export to PDF" href="#"><i class="fa fa-file-text-o"></i></a>
                <a class="btn btn-circle show-tooltip" title="Export to Exel" href="#"><i class="fa fa-table"></i></a>
            </div>
            <div class="btn-group">
                <a class="btn btn-circle show-tooltip" title="Refresh" href="#"><i class="fa fa-repeat"></i></a>
            </div>
        </div>
        <br/><br/>
        <div class="clearfix"></div>
        <div class="table-responsive" style="border:0">
            <table class="table table-advance" id="AddEventFormWizardAttendeeDataTable" style="width: 100% !important;">
                <thead>
                    <%= partial partials_desktop_home_eventsManagement_events + "/events-addEvent-partials/_home-events-management-container-mainContent-eventsTable-formWizard-tab3-thead-content-AddEventFormWizardAttendeeDataTable" %>
                </thead>
                <tbody>
                    <%= partial partials_desktop_home_eventsManagement_events + "/events-addEvent-partials/_home-events-management-container-mainContent-eventsTable-formWizard-tab3-tbody-content-AddEventFormWizardAttendeeDataTable" %>
                    <%= partial partials_desktop_home_eventsManagement_events + "/events-addEvent-partials/_home-events-management-container-mainContent-eventsTable-formWizard-tab3-tbody-content-AddEventFormWizardAttendeeDataTable" %>
                    <%= partial partials_desktop_home_eventsManagement_events + "/events-addEvent-partials/_home-events-management-container-mainContent-eventsTable-formWizard-tab3-tbody-content-AddEventFormWizardAttendeeDataTable" %>
                </tbody>
            </table>
        </div>
    </div>
 </div>