      <ul class="row steps steps-fill">
         <li class="col-xs-12 col-sm-6 col-lg-3">
            <a href="#tab2-1" data-toggle="tab" class="step active">
                <span class="number">1</span>
                <span class="desc"><i class="fa fa-check"></i> รายละเอียดกิจกรรม</span>   
            </a>
         </li>
         <li class="col-xs-12 col-sm-6 col-lg-3">
            <a href="#tab2-2" data-toggle="tab" class="step">
                <span class="number">2</span>
                <span class="desc"><i class="fa fa-check"></i> ระบุวันจัดกิจกรรม</span>   
            </a>
         </li>
         <li class="col-xs-12 col-sm-6 col-lg-3">
            <a href="#tab2-3" data-toggle="tab" class="step">
                <span class="number">3</span>
                <span class="desc"><i class="fa fa-check"></i> รายชื่อผู้เข้าร่วม</span>   
            </a>
         </li>
         <li class="col-xs-12 col-sm-6 col-lg-3">
            <a href="#tab2-4" data-toggle="tab" class="step">
                <span class="number">4</span>
                <span class="desc"><i class="fa fa-check"></i> ยืนยันข้อมูล</span>   
            </a> 
         </li>
      </ul>