<div class="row">
    <div class="col-md-6">
        <!-- <div class="tile tile-green">
            <p class="title">งานสัปดาห์วิชการ MBK</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        </div> -->
        <div class="tile tile-green well well-sm">
            <h4><strong>งานสัปดาห์วิชาการ MBK</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="tile tile-lime">
            <div class="img hidden-md">
                <i class="fa fa-users"></i>
            </div>
            <div class="content">
                <p class="big">40 คน</p>
                <p class="title">จำนวนผู้ลงทะเบียน</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="tile tile-lime">
            <div class="img hidden-md">
                <i class="fa fa-qrcode"></i>
            </div>
            <div class="content">
                <p class="big">20 คน</p>
                <p class="title">จำนวนผู้เข้าร่วมกิจกรรม</p>
            </div>
        </div>
    </div>
</div>


