<div class="btn-toolbar pull-right clearfix">
    <!-- <div class="btn-group">
        <a class="btn btn-circle show-tooltip" title="Add new record" href="#"><i class="fa fa-plus"></i></a>
        <a class="btn btn-circle show-tooltip" title="Edit selected" href="#"><i class="fa fa-edit"></i></a>
        <a class="btn btn-circle show-tooltip" title="Delete selected" href="#"><i class="fa fa-trash-o"></i></a>
    </div> -->
    <div class="btn-group">
        <!-- <a class="btn btn-circle show-tooltip" title="Print" href="#"><i class="fa fa-print"></i></a> -->
        <a class="btn btn-circle show-tooltip" title="Export to PDF" href="#"><i class="fa fa-file-text-o"></i></a>
        <a class="btn btn-circle show-tooltip" title="Export to Exel" href="#"><i class="fa fa-table"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-circle show-tooltip" title="Refresh" href="#"><i class="fa fa-repeat"></i></a>
    </div>
</div>
<br/><br/>
<div class="clearfix"></div>
<div class="table-responsive" style="border:0">
    <table class="table table-advance" id="AttendeeParticipateEventDataTableID" style="width: 100% !important;">
        <thead>
            <tr>
                <th>รหัสพนักงาน</th>
                <th>ชื่อ - สกุล</th>
                <th>ตำแหน่ง</th>
                <th>แผนก</th>
                <th class="text-center">สถานะเข้าร่วม</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-flag-blue">
                <td>00100898</td>
                <td>นายอนุสรณ์ กาญจนางกูร</td>
                <td>นักคอมพิวเตอร์</td>
                <td>แผนกไอที</td>
                <td class="text-center"><span class="label label-success"><i class="fa fa-check-circle"></i></span></td>
            </tr> 

            <tr class="table-flag-blue">
                <td>00100898</td>
                <td>นายอนุสรณ์ กาญจนางกูร</td>
                <td>นักคอมพิวเตอร์</td>
                <td>แผนกไอที</td>
                <td class="text-center"><span class="label label-success"><i class="fa fa-check-circle"></i></span></td>
            </tr> 
        
        </tbody>
    </table>
</div>