

                <!-- BEGIN First Row -->
                <div class="row">
                    
                    <div class="col-md-4  col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tile tile-big3row">
                                    <p class="title">Register Online by QRCode</p>
                                    <hr/>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <a href="./EventsManagement/" class="tile tile-img" style="background-image: url(<%= current_page.data.imageURL + '/mbk/but_01_event.png' %>);">
                                    <p class="title"></p>
                                </a>

                                <div class="tile tile-blue" >
                                    <p class="title">Event</p>
                                    <p>งานกิจกรรมภายในบริษัท MBK</p>
                                    <div class="img img-bottom">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <a href="./EventsManagement/" data-stop="5000" class="tile tile-img" style="background-image: url(<%= current_page.data.imageURL + '/mbk/but_01_conference.png' %>);">
                                    <p class="title"></p>
                                </a>

                                <div class="tile tile-red" data-stop="2000">
                                    <p class="title">Conference</p>
                                    <p>ประชุมสัมมนา</p>
                                    <div class="img img-bottom">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12 tile-active">
                                <a href="#" class="tile tile-red" data-stop="5000">
                                    <div class="img img-center">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <p class="title text-center">Conference</p>
                                </a>

                                <div class="tile tile-green" data-stop="2000">
                                    <p class="title">Conference</p>
                                    <p>ประชุมสัมมนา</p>
                                    <div class="img img-bottom">
                                        <i class="fa fa-gears"></i>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <div class="row">
                            <div class="col-md-6 tile-active">
                                <a href="#" class="tile tile-magenta" data-stop="5000">
                                    <div class="img img-center">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <p class="title text-center">Employees Management</p>
                                </a>
                                <div class="tile tile-pink" data-stop="2000">
                                    <p class="title">Employees Management</p>
                                    <hr/>
                                    <p>ส่วนจัดการข้อมูลพนักงาน</p>
                                </div>
                            </div>
                            <div class="col-md-6 tile-active">
                                <a href="#" class="tile tile-magenta" data-stop="5000">
                                    <div class="img img-center">
                                        <i class="fa fa-qrcode"></i>
                                    </div>
                                    <p class="title text-center">QRCode Generator</p>
                                </a>
                                <div class="tile tile-pink" data-stop="2000">
                                    <p class="title">QRCode Generator</p>
                                    <hr/>
                                    <p>ระบบสร้าง QRCode</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                <!--  <a class="tile tile-blue" href="#">
                                    <p class="title">Check out our gallery</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                    <div class="img img-bottom">
                                        <i class="fa fa-picture-o"></i>
                                    </div>
                                </a> -->
                    

                            


         
                        
                    



                </div>
                <!-- END First Row -->

                
      
