---
title: "Home - RoQ System"
layout: "layout-mbk-home-index"

baseURL: "/mbk/build/src/desktop/Home/"
loginURL: "../../../Login/index.php"
imageURL: "../../../images"

pageTitle: " Register Online by QRCode"
pageDescription: "You can start your customization from this one!"

---


        <!-- Admin - Navbar  -->
        <%= partial partials_desktop_Common_dir + "/_common-navbar" %>


        <!-- BEGIN Container -->
        <div class="container sidebar-blue" id="main-container">

            <!-- Home  -->
            <%= partial partials_desktop_home + "/_home-container-mainContent" %>

        </div>
        <!-- END Container -->









