                <!-- BEGIN Tiles -->
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="tile tile-green well well-sm">
                                            <!-- <p class="title"><strong class="text-info">Events Manager</strong> - ระบบจัดการงานกิจกรรมภายใน MBK</p> -->
                                            <h4><strong>Events Manager</strong> - ระบบจัดการงานกิจกรรมภายใน MBK</h4>
                                            <p>ระบบจัดการงานกิจกรรมภายใน MBK คือ ระบบที่ใช้สำหรับตรวจสอบและติดตาม งานกิจกรรมที่เกิดขึ้นภายในบริษัท MBK </p>
                                            <!-- <div  class="img img-bottom">
                                                <i class="fa fa-dashboard"></i>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="row">
                            <a href="#" id="goto-DisplayContent_01"  class="col-md-6">
                                <div class="tile tile-lime" id="EventLogoID">
                                    <div class="img">
                                        <!-- <i class="fa fa-calendar"></i> -->
                                        <img  src="<%= current_page.data.imageURL + '/mbk/event-logo.png' %>"/>
                                    </div>
                                    <div class="content">
                                        <p class="big">+160</p>
                                        <p class="title">จำนวนกิจกรรม</p>
                                    </div>
                                </div>
                            </a>

                            <a href="#" id="goto-DisplayContent_02"  class="col-md-6">
                                <div class="tile tile-lime">
                                    <div class="img">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">128</p>
                                        <p class="title">จำนวนพนักงาน</p>
                                    </div>
                                </div>
                            </a>


                        </div>
                    </div>
                </div>

                <!-- END Tiles -->