    <!-- BEGIN Content -->
    <div id="main-content" >


        <!-- Home - EventsManagement - Container - MainContent - PageTitle  -->
        <%= partial partials_desktop_home_eventsManagement + "/_home-events-container-mainContent-pageTitle" %>


        <!-- Home - EventsManagement - Container - MainContent - breadCrumbs  -->
        <%= partial partials_desktop_home_eventsManagement + "/_home-events-container-mainContent-breadCrumbs" %>




        <!-- BEGIN Main Content -->
        <div class="row" >
            <div class="col-md-12" >
                
                <!-- Home - EventsManagement - Container - Blank - MainContent - sampleBox  -->
                <%= partial partials_desktop_home_eventsManagement + "/_home-events-container-mainContent-sampleBox" %>


            </div>
        </div>
        <!-- END Main Content -->


        <!-- <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br>
        <br><br>
        <br><br><br><br><br><br> -->
        

        <footer>
            <p>Copyright © 2015 MBK. All rights reserved.</p>
        </footer>
        <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- END Content -->