<!-- BEGIN Main Content -->
<div class="row canvas-eventsDataTable" id="canvas-eventsDataTable-viewEvent"  style="display:none" >
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
            <h3><i class="fa fa-table"></i> ดูข้อมูลกิจกรรม (Events)</h3>
                <div class="box-tool">
                    <!-- <div class="btn-group">
                        <a href="#" data-toggle="dropdown" class="btn btn-pink dropdown-toggle"><i class="fa fa-user"></i> Events: <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-pink pull-right">
                            <li><a href="#"><i class="fa fa-plus"></i>Active Events</a></li>
                            <li><a href="#"><i class="fa fa-pencil"></i>Edit Profile</a></li>
                            <li><a href="#"><i class="fa fa-times"></i>Delete User</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-success" href="#"><i class="fa fa-plus"></i> Add Event</a> -->
                    <!-- <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a> -->
                    <!-- <a data-action="close" href="#"><i class="fa fa-times"></i></a> -->

                    <!-- <div class="btn-group hidden-inline-xs">
                    <a href="#" class="btn btn-warning">Active Events</a>
                        <a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-warning pull-right">
                            <li><a href="#">All Events</a></li>
                        </ul>
                    </div> -->

                </div>
            </div>
            <div class="box-content">
                
                <!-- Home - EventsManagement - Events - Container - MainContent - viewEvent  -->
                <%= partial partials_desktop_home_eventsManagement_events + "/events-viewEvent-partials/_home-events-management-container-mainContent-viewEvent-main" %>

                <!-- Home - EventsManagement - Events - Container - MainContent - viewEvent - AttendeeParticipateEventDataTableID  -->
                <%= partial partials_desktop_home_eventsManagement_events + "/events-viewEvent-partials/_home-events-management-container-mainContent-viewEvent-AttendeeParticipateEventDataTableID" %>

               
                
            </div>
        </div>
    </div>
</div>
<!-- END Main Content -->