    <tr class="table-flag-blue">
       <!--  <td style="vertical-align:middle"><input type="checkbox" /></td> -->
        <td>
            <div class="mail-msg-header">
                <!-- <img src="img/demo/avatar/avatar3.jpg" alt="avatar"> -->
                <div class="msg-sender-recver">
                    <strong style="color: #428bca">สัปดาห์วิชาการ บริษัท เอ็ม บี เค จำกัด ( มหาชน ) 2558</strong><br/>
                    <i>สถานที่ : บริษัท เอ็ม บี เค จำกัด ( มหาชน )</i><br/>
                    <i class="fa fa-clock-o blue"> &nbsp;</i><i>Oct 17, 02:13 AM</i> &nbsp;
                    <i class="fa fa-user blue"> &nbsp;</i><i>7/20</i>
                </div>


            </div>
        </td>
        <!-- <td class="text-center" style="vertical-align:middle">7/20</td> -->
        <td class="text-center " style="vertical-align:middle">
            <div class="btn-group">
                <a class="btn btn-sm show-tooltip" title="" href="#" data-original-title="View">
                    <i class="fa fa-search-plus"></i>
                </a>
                <a class="btn btn-sm show-tooltip" title="" href="#" data-original-title="Edit">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-danger show-tooltip" title="" href="#" data-original-title="Delete">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
        </td>
    </tr>