                <!-- BEGIN Breadcrumb -->
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="<%= current_page.data.homeURL %>">Home</a>
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">Events Manager
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active events-partials-breadcrumb-eventLink">
                            <span class="eventLink"> Events </span>
                            <span class="divider events-partials-breadcrumb-angleRight" style="display:none"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active events-partials-breadcrumb-titlePartial" style="display:none">Events</li>


                    </ul>
                </div>
                <!-- END Breadcrumb -->