<tbody>
    <tr class="table-flag-blue">
        <td><input type="checkbox" /></td>
        <td>Trident</td>
        <td>Internet Explorer 7</td>
        <td>Win XP SP2+</td>
        <td class="text-center">7</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Trident</td>
        <td><a href="#">AOL browser (AOL desktop)</a></td>
        <td>Win XP</td>
        <td class="text-center">6</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr class="table-flag-orange">
        <td><input type="checkbox" /></td>
        <td>Gecko</td>
        <td><span class="label label-success">Not Bad</span> Firefox 1.5</td>
        <td>Win 98+ / OSX.2+</td>
        <td class="text-center">1.8</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Gecko</td>
        <td>Netscape Navigator 9</td>
        <td>Win 98+ / OSX.2+</td>
        <td class="text-center">1.8</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Gecko</td>
        <td>Seamonkey 1.1</td>
        <td>Win 98+ / OSX.2+</td>
        <td class="text-center">1.8</td>
        <td><span class="label label-warning">B</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Gecko</td>
        <td>Mozilla 1.8</td>
        <td>Win 98+ / OSX.1+</td>
        <td class="text-center">1.8</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr class="table-flag-blue">
        <td><input type="checkbox" /></td>
        <td>Trident</td>
        <td><span class="label label-warning">So crazy!</span> <a href="#">Internet Explorer 6</a></td>
        <td>Win 98+</td>
        <td class="text-center">6</td>
        <td><span class="label label-important">C</span></td>
    </tr>
    <tr class="table-flag-red">
        <td><input type="checkbox" /></td>
        <td>Presto</td>
        <td>Opera 7.5</td>
        <td>Win 95+ / OSX.2+</td>
        <td class="text-center">-</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr class="table-flag-red">
        <td><input type="checkbox" /></td>
        <td>Presto</td>
        <td><span class="label label-info">It's Opera!</span> Opera 8.0</td>
        <td>Win 95+ / OSX.2+</td>
        <td class="text-center">-</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Gecko</td>
        <td><a href="#">Mozilla 1.0</a></td>
        <td>Win 95+ / OSX.1+</td>
        <td class="text-center">1</td>
        <td><span class="label label-warning">B</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Gecko</td>
        <td>Mozilla 1.1</td>
        <td>Win 95+ / OSX.1+</td>
        <td class="text-center">1.1</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr class="table-flag-blue">
        <td><input type="checkbox" /></td>
        <td>Misc</td>
        <td>IE Mobile</td>
        <td>Windows Mobile 6</td>
        <td class="text-center">-</td>
        <td><span class="label label-important">C</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Gecko</td>
        <td><a href="#">Mozilla 1.2</a></td>
        <td>Win 95+ / OSX.1+</td>
        <td class="text-center">1</td>
        <td><span class="label label-warning">B</span></td>
    </tr>
    <tr class="table-flag-red">
        <td><input type="checkbox" /></td>
        <td>Presto</td>
        <td>Opera 7.7</td>
        <td>Win 95+ / OSX.2+</td>
        <td class="text-center">-</td>
        <td><span class="label label-success">A</span></td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Gecko</td>
        <td>Mozilla 1.7</td>
        <td>Win 98+ / OSX.1+</td>
        <td class="text-center">1.8</td>
        <td><span class="label label-success">A</span></td>
    </tr>
</tbody>