---
title: "Events Management"
layout: "layout-mbk-home-events-management-index"

baseURL: "/mbk/build/src/desktop/Home/EventsManagement/Events/"
homeURL: "../../"
loginURL: "../../../../../Login/index.php"
imageURL: "../../../../../images"

pageTitle: " Events Manager"
pageDescription: "You can start your customization from this one!"

menuDashboard_IsActive: ""
menuDashboard_href: "../"

menuEventManagement_IsActive: "active"
menuEventManagement_Events_IsActive: "active"
menuEventManagement_Events_href: "./"


#     *** Page DOM ID registered ***
#     >> viewEvent-titile (แสดงชื่อกิจกรรม - Event)
#     >> viewEvent-register (แสดงจำนวนผู้ลงทะเบียน)
#     >> viewEvent-participate (แสดงจำนวนผู้เข้าร่วมงาน)
#     >> AttendeeParticipateEventDataTable_btnRefresh (ปุ่มสำหรับ Refresh ตารางแสดงผู้เข้าร่วมงาน)

---




        <!-- Admin - Navbar  -->
        <%= partial partials_desktop_Common_dir + "/_common-navbar" %>


        <!-- BEGIN Container -->
        <div class="container " id="main-container">
			
			<!-- Home - EventsManagement - Events - Container - Sidebar  -->
            <%= partial partials_desktop_home_eventsManagement_common + "/_home-events-sidebar.erb" %>

            <!-- Home - EventsManagement - Events - Container - Content -->
            <%= partial partials_desktop_home_eventsManagement_events + "/_home-events-management-container-mainContent" %>

        </div>
        <!-- END Container -->









